<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
	<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Database</h1>

		<body bgcolor="lightgrey">
</head>
<body>
    <h1>Add Employee</h1>
    <form method="POST" action="/addemp" enctype="multipart/form-data">
        <!-- Employee ID input -->
        <input type="text" name="empid" placeholder="Employee ID" required>
        
        <!-- First Name input -->
        <input type="text" name="first_name" placeholder="First Name" required>
        
        <!-- Last Name input -->
        <input type="text" name="last_name" placeholder="Last Name" required>
        
        <!-- Primary Skill input -->
        <input type="text" name="pri_skill" placeholder="Primary Skill" required>
        
        <!-- Location input -->
        <input type="text" name="location" placeholder="Location" required>
        
        <!-- File input for Employee Image -->
        <input type="file" name="emp_image_file" required>
        
        <!-- Submit Button -->
        <button type="submit">Submit</button>
    </form>
</body>
</html>
